                                                                LIBRERIAS

In [12]:
import pyodbc
from sqlalchemy import create_engine

                                                        CONEXION CON LA BASE DE DATOS.

Origen

In [13]:
# Establecer la conexi贸n a la base de datos de origen
server_dborigen = 'localhost'
database_dborigen = 'Nicodbsqlserver'
driver = '{ODBC Driver 17 for SQL Server}'
connection_string_dborigen = f"DRIVER={driver};SERVER={server_dborigen};DATABASE={database_dborigen};Trusted_Connection=yes;"
conn_dborigen = pyodbc.connect(connection_string_dborigen)

DESTINO

In [14]:
# Establecer la conexi贸n a la base de datos de destino
server_dbdestino = 'localhost'
database_dbdestino = 'carrosDestino'
connection_string_dbdestino = f"DRIVER={driver};SERVER={server_dbdestino};DATABASE={database_dbdestino};Trusted_Connection=yes;"
conn_dbdestino = pyodbc.connect(connection_string_dbdestino)

                                                        CONSULTA CON LA BASE DE DATOS Y EXTRACION

In [15]:
# Crear un cursor para la base de datos de origen
cursor_dborigen = conn_dborigen.cursor()

cursor_dborigen.execute("SELECT Marca,Modelo,Placa FROM Carros WHERE Marca = 'BMW'")

In [16]:
# Obtener todos los resultados la variable results=, es la que almacena los datos
results = cursor_dborigen.fetchall()

# Imprimir los resultados
for elemento in results:
    print(elemento.Marca+" , "+elemento.Modelo+' , '+elemento.Placa)

BMW , Serie 3 , MNO345
BMW , X5 , NOP789
BMW , X3 , MNO567
BMW , X7 , MNO890
BMW , X1 , MNO678
BMW , X4 , MNO567

                                                   CARGA DE DATOS EN BASE DE DATOS DESTINO

In [17]:
# Crear un cursor para la base de datos de destino de los datos 
cursor_dbdestino = conn_dbdestino.cursor()

In [18]:
# Crear un cursor para la base de datos de destino de los datos
cursor_dbdestino = conn_dbdestino.cursor()

# Recorrer sobre los resultados obtenidos
for elemento in results:
    marca = elemento.Marca
    modelo = elemento.Modelo
    placa = elemento.Placa
    
    # Verificar si los datos ya existen en la base de datos
    cursor_dbdestino.execute("SELECT * FROM Cargadatos WHERE marca=? AND modelo=? AND placa=?",
                             (marca, modelo, placa))
    existing_data = cursor_dbdestino.fetchone()
    
    if existing_data:
        # Los datos ya existen en la base de datos, mostrar mensaje de repetici贸n
        print(f"Los datos ya existen en la base de datos: Marca={marca}, Modelo={modelo}, Placa={placa}")
    else:
        # Insertar los datos en la tabla "Cargadatos" de la base de datos de destino
        cursor_dbdestino.execute("INSERT INTO Cargadatos (marca, modelo, placa) VALUES (?, ?, ?)",
                                 (marca, modelo, placa))

# Confirmar los cambios en la base de datos de destino
conn_dbdestino.commit()

Los datos ya existen en la base de datos: Marca=BMW, Modelo=Serie 3, Placa=MNO345
Los datos ya existen en la base de datos: Marca=BMW, Modelo=X5, Placa=NOP789
Los datos ya existen en la base de datos: Marca=BMW, Modelo=X3, Placa=MNO567
Los datos ya existen en la base de datos: Marca=BMW, Modelo=X7, Placa=MNO890
Los datos ya existen en la base de datos: Marca=BMW, Modelo=X1, Placa=MNO678
Los datos ya existen en la base de datos: Marca=BMW, Modelo=X4, Placa=MNO567

EJECUTO UNA CONSULTA PARA LUEGO MOSTRARLA

In [19]:
# Ejecutar la consulta para seleccionar los datos de la tabla "Cargadatos"
cursor_dbdestino.execute("SELECT id, marca, modelo, placa FROM Cargadatos")

# Obtener todos los resultados
results = cursor_dbdestino.fetchall()

# Imprimir los resultados
for row in results:
    id = row[0]
    marca = row[1]
    modelo = row[2]
    placa = row[3]
    print(f"ID: {id}, Marca: {marca}, Modelo: {modelo}, Placa: {placa}")

ID: 1002, Marca: BMW, Modelo: Serie 3, Placa: MNO345
ID: 1003, Marca: BMW, Modelo: X5, Placa: NOP789
ID: 1004, Marca: BMW, Modelo: X3, Placa: MNO567
ID: 1005, Marca: BMW, Modelo: X7, Placa: MNO890
ID: 1006, Marca: BMW, Modelo: X1, Placa: MNO678
ID: 1007, Marca: BMW, Modelo: X4, Placa: MNO567

In [20]:
# Cerrar las conexiones
conn_dborigen.close()
conn_dbdestino.close()

COMO CREAR TABLA VACIA

In [21]:
# Crear un cursor para la base de datos de destino
cursor_dbdestino = conn_dbdestino.cursor()

# Ejecutar la consulta para crear la tabla "Cargadatos"
cursor_dbdestino.execute("CREATE TABLE Cargadatos (id INT IDENTITY(1,1) PRIMARY KEY, marca VARCHAR(50), modelo VARCHAR(50), placa VARCHAR(10))")

# Confirmar los cambios en la base de datos de destino
conn_dbdestino.commit()

# Cerrar la conexi贸n a la base de datos de destino
conn_dbdestino.close()

ProgrammingError: Attempt to use a closed connection.